@import url(./media.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.4s ease;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E4EBF5;
  padding: 1rem;
  row-gap: 1rem;
}

header {
  display: flex;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  justify-content: center;
}

.screen {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  border-radius: 0.25rem;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
}

input[type=radio]:checked {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  transition: all 0.4s ease;
}

.device {
  display: flex;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
}
.icon i {
  color: #9baacf;
}

main {
  width: 100%;
  height: 100%;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  border-radius: 0.25rem;
}

.pc {
  max-width: 1200px;
}

.tablet {
  max-width: 768px;
}

.mobile {
  max-width: 420px;
}

aside {
  display: inline-flex;
  padding: 1rem;
  position: relative;
}

.clock {
  display: flex;
  width: 10rem;
  height: 13.5rem;
  flex-direction: column;
  position: relative;
}

.analog {
  display: inline-flex;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  padding: 0.25rem;
  position: absolute;
}
.analog .content1 {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
}
.analog .content1 .number {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  color: #bec8e4;
  font-size: 0.9rem;
}
.analog .content1 .number:nth-child(3n) {
  font-weight: bold;
  color: #9baacf;
}
.analog .content1 .brand {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: #c8d0e7;
}
.analog .content1:hover .brand {
  color: #6d5dfc;
}
.analog .content1 .hour {
  width: 4px;
  height: 25%;
  background: brown;
  display: flex;
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  z-index: 3;
}
.analog .content1 .minute {
  width: 1px;
  height: 35%;
  background: #000;
  display: flex;
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  z-index: 2;
}
.analog .content1 .second {
  width: 1px;
  height: 40%;
  background: #9baacf;
  display: flex;
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  z-index: 1;
}

.digital {
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  padding: 0.25rem;
  border-radius: 50%;
  position: absolute;
}
.digital .content2 {
  display: flex;
  width: 100%;
  height: 9.5rem;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  border-radius: 50%;
  color: #9baacf;
  font-size: 1.5rem;
  font-weight: bold;
  transition: none;
}
.digital .content2:hover {
  color: #6d5dfc;
}

.opacity {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.clock_switch {
  display: flex;
  width: 100%;
  height: 2.25rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  position: absolute;
  bottom: 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.switch {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  color: #9baacf;
}

.cover {
  width: calc(50% - 0.5rem);
  height: calc(100% - 0.5rem);
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  border-radius: 0.25rem;
  pointer-events: none;
  position: absolute;
  left: 4px;
  transition: left 0.2s ease;
}

.hide {
  display: none;
}

.paint {
  color: #6d5dfc;
}/*# sourceMappingURL=main.css.map */