// var
$primary: #6d5dfc;
$primary-light: #8abdff;
$primary-dark: #5b0eeb;

$white: #fff;
$gray-1: #E4EBF5;
$gray-2: #c8d0e7;
$gray-3: #bec8e4;
$gray-4: #9baacf;

$shadow: .3rem .3rem .6rem $gray-2, 
-.2rem -.2rem .5rem $white;
$inner-shadow: inset .2rem .2rem .5rem $gray-2, 
inset -.2rem -.2rem .5rem $white;

$half-size: 0.5rem;
$primary-size: 1rem;

@mixin size {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: color .4s ease;
}

html {
    @include size;
}

body {
    @include size;
}

#app {
    display: flex;
    @include size;
    justify-content: center;
    background: $gray-1;
}

.screen {
    display: flex;
    @include size;
    justify-content: center;
}

header {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
}

.device {
    display: flex;
    margin: $half-size 0;
    box-shadow: $shadow;
    border-radius: $half-size;
    color: $gray-4;
    position: relative;

    .device-icons {
        display: flex;
        width: 3.5rem;
        height: 2rem;
        justify-content: center;
        cursor: pointer;

        i {
            display: flex;
            @include size;
            justify-content: center;
            align-items: center;
            font-size: $primary-size;
        }

        :hover {
            color: $primary;
        }
    }

    .cover {
        width: 3.5rem;
        height: 2rem;
        box-shadow: $inner-shadow;
        position: absolute;
        left: 0;
        pointer-events: none;
    }
}

.paint {
    color: $primary;
}