// var
$primary: #6d5dfc;
$primary-light: #8abdff;
$primary-dark: #5b0eeb;

$white: #fff;
$gray-1: #E4EBF5;
$gray-2: #c8d0e7;
$gray-3: #bec8e4;
$gray-4: #9baacf;

$shadow: .3rem .3rem .6rem $gray-2, 
-.2rem -.2rem .5rem $white;
$inner-shadow: inset .2rem .2rem .5rem $gray-2, 
inset -.2rem -.2rem .5rem $white;

$half-size: 0.5rem;
$primary-size: 1rem;

@mixin size {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    @include size;
}
