@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    box-sizing: border-box;
    color: #212121;
    font-size: 0.95rem;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    width: 16.5rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 5;
    background: #fff;
    padding: 0 1rem;
    border-right: 1px solid #eee;

    position: fixed;
    top: 0;
}

/* aside */
.aside {
    width: min-content;
    padding-right: 0rem;
}

/* library */
.library {
    display: flex;
    width: 11rem;
    flex-direction: column;
    align-items: center;
}

.library::before {
    content: '게시판';
    width: 100%;
    color: #f0f0f0;
    background: #212121;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
    text-align: center;
}

/* book */
.book {
    width: min-content;
    margin-top: 0.5rem;
    padding-bottom: 0.15rem;

    position: relative;
}

.book::before {
    content: '';
    width: 0;
    height: 2px;
    background: chocolate;
    transition: all 0.2s;

    position: absolute;
    bottom: 0;
    left: 50%;
}

.book:hover::before {
    width: 50%;
}

.book::after {
    content: '';
    width: 0;
    height: 2px;
    background: chocolate;
    transition: all 0.2s;

    position: absolute;
    bottom: 0;
    right: 50%;
}

.book:hover::after {
    width: 50%;
}

/* common */
.common {
    background: #eceff1;
    border-radius: 0.25rem;
    border: 1px solid #cfd8dc;
    padding: 0.5rem;
}

/* pointer */
.pointer {
    cursor: pointer;
}

/* mod */
.mod {
    color: #d60000;
}

/* trash */
.trash {
    color: #bdbdbd;
    margin-left: 0.5rem;

    position: fixed;
    left: 12.75rem;
}

.trash > i:hover {
    color: #d60000;
    transform: translateY(-0.1rem);
    transition: 0.1s;
}

/* tool */
.tool {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* cog */
.cog {
    pointer-events: none;
}

.fa-cog {
    transition: transform 0.4s;
    pointer-events: auto;
    font-size: 1rem;
}

/* add */
.add {
    
}

.gap {
    margin-top: 1rem;
}

/* text-box */
.text-box {
    width: 10.25rem;
    padding-left: 0.25rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.text-box:focus {
    border: 1px solid chocolate;
    border-radius: 0.25rem;
    outline: none;
}

/* submit */
.submit {
    width: min-content;
    padding: 0 0.25rem;
    margin-left: 0.5rem;
    pointer-events: none;
}


/* remove */
.remove {
    display: flex;
    width: min-content;
    align-items: center;
    padding: 0.35rem 0.5rem;
}

.remove::before {
    content: '게시판 삭제 모드 :';
    color: #757575;
}

/* mod */
.mod {
    margin-top: 1px;
    margin-left: 0.5rem;
    padding: 0 0.25rem;
    pointer-events: none;
}

/* hide */
.hide {
    transform: translateX(-110%);
    transition: transform 0.4s;
}

/* on */
.on {
    
}

/* delay */
.delay {
    transition-delay: 0.4s;
}

/* stretch */
.stretch {
    padding-right: 1.5rem;
}

/* main */
main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    padding-left: 16.5rem;
    
    position: fixed;
    right: 0;
    z-index: 0;
}

/* board */
.board {
    width: 500px;
    height: 650px;

    position: relative;
}

/* title */
.title {
    width: min-content;
    padding: 0px 0.5rem;
    padding-top: 0.25rem;
    background: #e2f1f8;
    border-radius: 1rem 1rem 0 0;
    font-weight: 100;
    box-shadow: 1px 0px 1px 1px #e0e0e0;
}

/* lists */
.lists {
    width: 100%;
    height: 100%;
    background: #eee;

    position: absolute;
    z-index: 0;
}
