/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* html */
html {
    width: 100%;
    height: auto;
}

/* body */
body {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

/* app */
#app {
    width: 100%;
    height: auto;
}

/* cntr-wrap */
.cntr-wrap {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin: 30px 0;
    background: #90caf9;
}

.cntr-wrap:nth-child(2n) {
    background: #f8bbd0;
}

/* cntr */
.cntr {
    width: 700px;
    height: 100%;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

/* prev, next */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    border: none;
    border-radius: 4px;
    background: none;
    color: #fafafa;
    cursor: pointer;
    z-index: 10;
}

.prev:hover, .next:hover {
    transition: 0.3s ease-in;
    background: rgba(0, 0, 0, 0.65);
}

.prev {
    left: 0;
}

.prev::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f104";
}

.next {
    right: 0;
}

.next::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f105";
}

/* box */
.box {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* title */
.title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
}

/* item */
.item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    list-style: none;
    flex: none;
}

/* radio-box */
.radio-box {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 15;
}

/* option-box */
.option-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
}

/* plus, minus */
.plus,
.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 0 15px;
    border: none;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
}

.plus::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f055";
    color: #4caf50;
}

.minus::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f056";
    color: #f44336;
}