// root
:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #fff;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;

    --small-width: 3.5rem;
    --small-height: 1.75rem;
    --center: center;
    --primary-size: 1rem;
    --half-size: 0.5rem;
    --half-and-half-size: 0.25rem;
}

$shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%primary-size {
    width: 100%;
    height: 100%;
}

html {
    @extend %primary-size;
}

body {
    @extend %primary-size;
}

#app {
    display: flex;
    @extend %primary-size;
    flex-direction: column;
    align-items: var(--center);
    justify-content: var(--center);
    background: var(--greyLight-1);
    padding: 1rem 1rem 2rem 1rem;
    row-gap: 2rem;
}

.media {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: var(--center);
}

.size {
    display: flex;
    justify-content: var(--center);
    box-shadow: $shadow;
    border-radius: var(--half-size);
    padding: var(--half-and-half-size);
    pointer-events: none;
    position: relative;
}

.device {
    display: flex;
    width: var(--small-width);
    height: var(--small-height);
    justify-content: var(--center);
    align-items: var(--center);
    font-size: var(--primary-size);
    color: var(--greyDark);
    cursor: pointer;
    background: none;
    border: none;
    pointer-events: auto;

    i {
        pointer-events: none;
    }
}

.active {
    width: var(--small-width);
    height: var(--small-height);
    box-shadow: $inner-shadow;
    border-radius: var(--half-size);
    position: absolute;
    transition: left 0.3s ease;
    left: var(--half-and-half-size);
}

.desktop {
    max-width: 1200px;
}

.tablet {
    max-width: 768px;
}

.mobile {
    max-width: 412px;
}

.container {
    @extend %primary-size;
    box-shadow: $shadow;
    border-radius: var(--half-size);
    padding: 2rem var(--primary-size);
}

.screen {
    @extend %primary-size;
    box-shadow: $inner-shadow;
}