@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

/* html */
html {
    width: 100%;
    height: 100%;
}

/* body */
body {
    width: 100%;
    height: 100%;
}

/* app */
#app {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
}

/* wrap */
.wrap {
    display: flex;
    width: 500px;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
}

/* main */
main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

/* aside */
aside {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

/* container */
.container {
    width: min-content;
}

/* library */
.library {
    display: flex;
    width: 12rem;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    margin-bottom: 0.75rem;
}

.library::before {
    content: '게시판';
    width: 100%;
    background: #000a12;
    color: #f0f0f0;
    text-align: center;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
}

/* book */
.book {
    display: flex;
    justify-content: center;
    margin-top: 0.35rem;

    position: relative;
}

/* word */
.word {
    position: relative;
    padding-bottom: 0.1rem;
    font-size: 0.9rem;
}

.word::before {
    content: '';
    width: 0px;
    height: 2px;
    background: #ffab40;
    transition: all 0.2s;

    position: absolute;
    left: 50%;
    bottom: 0;
}

.word:hover::before {
    width: 50%;
}

.word::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffab40;
    transition: all 0.2s;

    position: absolute;
    right: 50%;
    bottom: 0;
}

.word:hover::after {
    width: 50%;
}

/* gear */
.gear {
    width: min-content;
    height: min-content;
    pointer-events: none;
}

.fa-gear {
    transform: rotate(-0.25turn);
    transition: transform 0.2s;
    pointer-events: auto;
}

/* turn */
.turn {
    transform: rotate(0.25turn);
}

/* pointer */
.pointer {
    cursor: pointer;
}

/* .plus */
.plus {
    display: flex;
    width: min-content;
    height: min-content;
    margin-top: 0.5rem;
    transition: all 0.3s;
}

/* text-box */
.text-box {
    width: 9rem;
}

input, textarea {
    padding-left: 0.25rem;
    border: 1px solid #9e9e9e;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid #ff9e80;
}

/* submit */
.submit {
    margin-left: 0.25rem;
    padding: 0 0.25rem;
    font-size: 0.75rem;
}

/* minus */
.minus {
    display: flex;
    width: min-content;
    margin-top: 0.5rem;
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.minus::before {
    content: '게시판 삭제 모드 :';
    font-size: 0.9rem;
}

/* mod */
.mod {
    margin-left: 0.35rem;
    font-size: 0.75rem;
    padding: 0 0.25rem;
    color: #dd2c00;
}

/* hide */
.hide {
    transform: translateX(-105%);
    opacity: 0;
}

/* show */
.show {
    transform: translateX(0%);
    opacity: 1;
}

/* common */
.common {
    background: #eceff1;
    padding: 0.25rem;
    border: 1px solid #b0bec5;
    border-radius: 0.25rem;
}
/* paint */
.paint {
    color: #00c853;
}

/* trash */
.trash {
    position: absolute;
    right: 0;
}

/* board */
.board {
    width: 250px;
    position: relative;
}

/* list */
.list {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 5;
}

/* title */
.title {
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #b0bec5;
}

/* z */
.z {
    z-index: 10;
}

/* write */
.write {
    padding: 0 0.25rem;

    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

/* standard */
.standard {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: 0.4s;

    position: absolute;
    z-index: 15;
}

/* down */
.down {
    transform: translateY(0%);
}

/* exit */
.exit {
    display: flex;
    justify-content: flex-end;
}

/* exit-btn */
.exit-btn {
    border: none;
    background: none;
}

/* title-box */
.title-box {
    width: min-content;
    height: min-content;
}

/* content-box */
.content-box {
    text-align:justify;
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
    padding: 0.25rem;
}

/* save */
.save {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* save-btn */
.save-btn {
    padding: 0 0.25rem;
}

/*  */
@media screen () {
    
}