* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;

    position: fixed;
}

aside {
    width: 15rem;
    height: 100%;
    background: red;
    transition: all 0.2s;

    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    width: 100%;
    height: 3.5rem;
    background: blue;
}

.bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.small {
    width: 3.5rem;
}

.gone {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.menu > i {
    font-size: 1rem ;
}