@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    white-space: nowrap;
    z-index: 0;
    cursor: default;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

aside {
    width: 15rem;
    height: calc(100% - 3.5rem + 1px);
    background: #fff;
    border-right: 1px solid #e0e0e0;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

header {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

nav {
    display: flex;
    width: min-content;
    height: 100%;
    align-items: center;
    column-gap: 1rem;
    background: #fff;
}

.menu {
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}

.menu > i {
    height: min-content;
    font-size: 1.5rem ;
    margin-bottom: 2.5px;
}

.bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);

    position: relative;
    z-index: 10;
}

.small {
    width: 4.5rem;
}

.gone {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.pointer {
    cursor: pointer;
}

.logo {
    padding: 1rem;
}

.library {
    padding: 0.75rem 0;
}

.book {
    display: flex;
    height: 2.5rem;
    padding: 0 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.book:hover {
    background: rgba(0, 0, 0, 0.05);
}

.book > i {
    display: flex;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.remove-pd {
    padding: 0;
}

.change {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    row-gap: 2.61px;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
}

.line-up {
    width: 100%;
    font-size: 0.75rem;
    justify-content: flex-end;
}

.active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.clone-aside {
    width: 15rem;
    height: 100%;
    border-right: 1px solid #e0e0e0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    transform: translateX(-100%);
    transition: all 0.25s;
}

.clone-aside > nav {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
}

.clone-aside > aside {
    width: 15rem;
    height: calc(100% - 3.5rem + 1px);
    background: #fff;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.clone-aside > aside > .library {
    padding: 0.75rem 0;
}

.clone-aside > aside > .library > .book {
    display: flex;
    width: 100%;
    height: 2.5rem;
    padding: 0 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.clone-aside > aside > .library > .book > i {
    display: flex;
    width: min-content;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.clone-aside > aside > .library > .book > .words {
    width: min-content;
    font-size: 1rem;
}

.show {
    transform: translateX(0%);
}

.emphasis {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.touch {
    pointer-events: none;
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - 3.5rem);
    justify-content: center;
    background: #fafafa;
    padding-left: 15rem;

    position: absolute;
    top: 3.5rem;
    left: 0;

    overflow-y: scroll;
}

.change-pd {
    padding-left: 4.5rem;
}

.container {
    max-width: 1000px;
    width: 100%;
    height: max-content;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 0 1rem;
}

.title {
    display: flex;
    width: 100%;
    height: 1.5rem;
    padding: 0 0.5rem;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.title:nth-child(1n) > i {
    color: #ff3d00;
}

.title:nth-child(2n) > i {
    color: #00b0ff;
}

.intro {
    display: flex;
    justify-content: center;
}

img {
    width: 225px;
    height: 300px;
    box-shadow: 0px 0px 5px 1px #757575;
    background-size: 225px;
    background-image: url('../Images/취업사진1.jpg');
}

.intro {
    display: flex;
    column-gap: 2.5rem;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.infor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: bold;
}

.infor-item {
    display: flex;
    column-gap: 1rem;
}

.front {
    width: min-content;
    color: #9e9e9e;
    list-style:square;
}

.back {
    width: min-content;
    color: #494949;
}

hr {
    margin: 2rem 0;
    border: 1px solid #f5f5f5;
}

.skill {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.skill-icon {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    position: relative;
}

.skill-item:nth-child(3) > .skill-icon::after {
    content: '👑';
    font-size: 1rem;
    position: absolute;
    top: -0.65rem;
}

.skill-item:nth-child(5) > .skill-icon {
    display: flex;
    width: 49px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #1a237e;
    margin: 3px 0;
    border-radius: 0.25rem;
}

.skill-item:nth-child(5) > .skill-icon::after {
    content: 'Ps';
    font-size: 1.5rem;
    color: #01579b;
    font-weight: bold;
}

.skill-word {
    font-weight: bold;
}

.project {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3.5rem;
    margin-bottom: 3.5rem;
}

.item {
    display: flex;
    justify-content: space-around;
    background: #fff3e0;
    padding: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    position: relative;
}

.item:nth-child(2n) {
    background: #e3f2fd;
}

.item-picture {
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    color: #e0e0e0;
    flex: none;
}

.item-review {
    width: 350px;
    height: 250px;
    background: rgba(0, 0, 0, 0.1);
}

.motto {
    display: flex;
    justify-content: center;
    color: #ff9e80;
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 15rem;
    background: #263238;
}

.basic-pd {
    padding: 0rem 1rem;
}