/* reset */
@import url(./reset.css);

/* font style */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* all */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

/* html */
html {
}

/* body */
body {
    letter-spacing: 0.25rem;
}

/* container */
.container {

}

/* section */
section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section:nth-child(1n) {
    background: lightseagreen;
}

section:nth-child(2n) {
    background: lightcoral;
}

/* title */
.title {
    font-size: 2rem;
    color: #eee;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked {
   
}