/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    header {
        height: 2.5rem;
    }

    .bar > i {
        font-size: 2rem;
    }

    .gap {
        height: 9rem;
    }

    .top {
        height: 30rem;
    }

    .picture {
        width: 150px;
        height: 200px;
        font-size: 1.25rem;
    }

    .library {
        max-width: 17.5rem;
    }

    .word {
        margin-top: 3.5rem;
        padding-right: 3rem;
    }

    .letter {
        font-size: 1.75rem;
    }

    .copyright {
        bottom: 0.5rem;
        right: 0.5rem;
        font-size: 1.25rem;
    }

    .introduce {
        height: 26rem;
    }

    .board {
        width: 400px;
        padding: 0 4rem;
    }
    
    .list {
        height: 1.75rem;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    header {
        height: 2rem;
    }

    .bar > i {
        font-size: 1.5rem;
    }

    .gap {
        height: 8rem;
    }

    .top {
        height: 25rem;
    }

    .picture {
        width: 120px;
        height: 150px;
        font-size: 1rem;
    }

    .library {
        max-width: 15rem;
    }

    .word {
        margin-top: 3rem;
        padding-right: 2.5rem;
    }

    .letter {
        font-size: 1.75rem;
    }

    .copyright {
        bottom: 0.5rem;
        right: 0.5rem;
        font-size: 1rem;
    }

    .introduce {
        height: 24.5rem;
    }

    .board {
        width: 350px;
        padding: 0 2.5rem;
    }
    
    .list {
        height: 1.5rem;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    header {
        height: 2rem;
    }

    .bar > i {
        font-size: 1.5rem;
    }

    .gap {
        height: 8rem;
    }

    .top {
        height: 20rem;
    }

    .picture {
        width: 120px;
        height: 150px;
        font-size: 1rem;
    }

    .library {
        max-width: 100%;
    }

    .touch {
        display: none;
    }

    .book {
        width: 100%;
        align-items: center;
        transform: translateY(-12.5%);
        padding: 0 1rem;
    }

    .word {
        width: min-content;
        margin-top: 2.5rem;
        padding-right: 2rem;
    }

    .letter {
        font-size: 2rem;
    }

    .introduce {
        height: 13.5rem;
    }

    .board {
        max-width: 350px;
        padding: 0 1rem;
    }
    
    .list {
        height: 1rem;
    }
}
