@media screen and (max-width: 1350px) {
    .wrap {
        padding-left: 4.5rem;
    }

    aside {
        width: 4.5rem;
    }

    .aside > nav {
        display: none;
        transition: all 0.4s;
        transform: translate(-100%);
    }

    .show {
        width: 250px;
    }

    .gap {
        padding-left: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap {
        padding-left: 4.5rem;
    }
    
    aside {
        width: 4.5rem;
    }

    aside > nav {
        transition: all 0.4s;
        transform: translate(-100%);
    }

    .show {
        width: 250px;
    }

    .gap {
        padding-left: 4.5rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .wrap {
        padding-left: 0px;
    }
    
    aside {
        width: 0px;
        padding: 0px;
    }

    aside > nav {
        transition: all 0.4s;
        transform: translate(-100%);
    }

    .show {
        width: 250px;
        padding: 0 1rem;
    }
    
    .gap {
        padding-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .wrap {
        padding-left: 0px;
    }
    
    aside {
        width: 0px;
        padding: 0px;
    }

    aside > nav {
        transition: all 0.4s;
        transform: translate(-100%);
    }

    .show {
        width: 250px;
        padding: 0 1rem;
    }
    
    .gap {
        padding-left: 0px;
    }   
}

