* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

aside {
    width: 250px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #E0E0E0;
    position: fixed;
    left: 0;
    z-index: 10;
}

header {
    display: flex;
    width: 100%;
    height: 3.5rem;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

.wrap {
    max-width: 1024px;
    width: 100%;
    height: calc(100% - 3.5rem);
    background: #fff;
    z-index: 5;
    margin-top: 3.5rem;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    padding: 1rem;
}

.menu, .screen {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu > i {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.screen {
    font-size: 1.5rem;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px 18px 15px 18px;
}

.active-1 {
    width: 4.5rem;
}

.active-2 {
    padding-left: 250px;
}

.active-3 {
    padding-left: 4.5rem;
}