* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

body {
    min-width: 350px;
}

header {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: center;
    background: #8aacc8;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
}

.bar > i {
    display: flex;
    font-size: 2.5rem;
    cursor: pointer;
}

.gap {
    width: 100%;
    height: 10rem;
    background: #bbdefb;
}

.top {
    display: flex;
    width: 100%;
    height: 35rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-top: 2px solid #e3f2fd;
    padding-bottom: 1rem;
}

.gallery {
    max-width: 1024px;
    width: 100%;
    height: 50%;
    padding: 0 12px;
    position: relative;
}

.picture {
    display: flex;
    width: 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background: #b0bec5;
    color: #eceff1;
    font-size: 1.5rem;
    position: absolute;
    top: -30%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    perspective: 200px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.show {
    transform: translateX(0%);
}

.library {
    max-width: 20rem;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background: #424242;
    position: relative;
}

.active {
    transform: rotateY(10deg);
}

.backward {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    color: #fff;
    font-size: 1.75rem;
    position: relative;
    z-index: 15;
}

.backward > i {
    cursor: pointer;
}

.touch {
    display: none;
    width: 100%;
    height: 100%;
}

.in {
    display: block;
}

.book {
    display: flex;
    width: min-content;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-15%);
    padding: 0 2rem;
}

.word {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-top: 4rem;
    cursor: pointer;
    padding-right: 3.5rem;
}

.word:hover {
    transform: scale(1.1, 1.1);
}

.letter {
    color: #fff;
    font-size: 2rem;
}

.copyright {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    font-size: 1.5rem;
    color: #bdbdbd;
}

.introduce {
    max-width: 1024px;
    width: 100%;
    height: 28.5rem;
    padding: 0 12px;
}

.board {
    display: flex;
    max-width: 500px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    background: #E0E0E0;
    padding: 0 5rem;
}

.list {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #bdbdbd;
}

.line {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 5rem 0;
}

.middle {
    max-width: 1024px;
    width: 100%;
    padding: 0 12px;
}

.title {
    width: 10rem;
    color: #757575;
    margin-left: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #757575;
}

.project {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 1rem;
    justify-content: space-around;
    margin: 5rem 0;
}

.box {
    width: 326px;
    height: 326px;
    background: #eceff1;
    transition: transform 0.3s;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.box:hover > .item > .cover {
    transform: translateY(0%);
}

.box:hover {
    transform: scale(0.95, 0.95);
}

.cover {
    width: 100%;
    height: 75%;
    background: rgba(0, 0, 0, 0.1);
    transform: translateY(-110%);
    transition: transform 0.2s;
}

.subtitle {
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    height: 10rem;
    background: #263238;
}

.more {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    background: #0064b7;
    color: #fff;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 25;
}

.bubble {
    background: lightblue;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
}

.smooth {
    opacity: 1;
    pointer-events: auto;
}